<div class="section">
  <div class="row">
    <h1 class="blue-text"><b>Peržiūra</b></h1>
    <h2 class="black-text">Čia galite peržiūrėti Jūsų suvestą informaciją ir pateikti jei viskas gerai.</h2>
    <hr />
    <div class="row">
      <h1 class="blue-text1"><b>Kontaktinė informacija</b></h1>
    </div>
    <div class="col-lg-4">
      <p class="black-text1">Vardas, pavardė:</p>
    </div>
    <div class="col-lg-8">
      <p class="black-text2">{{ model.contacts?.fullName || '-' }}</p>
    </div>
    <div class="col-lg-4">
      <p class="black-text1">El. pašto adresas:</p>
    </div>
    <div class="col-lg-8">
      <p class="black-text2">{{ model.contacts?.email || '-' }}</p>
    </div>
    <div class="col-lg-4">
      <p class="black-text1">Telefono numeris:</p>
    </div>
    <div class="col-lg-8">
      <p class="black-text2">{{ model.contacts?.phone || '-' }}</p>
    </div>
    <div class="col-lg-4">
      <p class="black-text1">Projektas:</p>
    </div>
    <div class="col-lg-8">
      <p class="black-text2">{{ model.contacts?.projectTitle || '-' }}</p>
    </div>
  </div>
  <div class="row" *ngFor="let a of model.wish; let i = index">
    <h1 class="blue-text1">Pageidavimas nr. {{ i + 1 }}</h1>
    <div class="col-lg-4">
      <p class="black-text1">Trumpas aprašymas:</p>
    </div>
    <div class="col-lg-8">
      <p class="black-text2">{{ model.wish[i].shortDescription || '-' }}</p>
    </div>
    <div class="col-lg-4">
      <p class="black-text1">Išsamus aprašymas:</p>
    </div>
    <div class="col-lg-8">
      <p class="black-text2">{{ model.wish[i].longDescription || '-' }}</p>
    </div>
    <div class="col-lg-4">
      <p class="black-text1">Terminas:</p>
    </div>
    <div class="col-lg-8">
      <p class="black-text2">{{ model.wish[i].date || '-' }}</p>
    </div>
    <div class="col-lg-4">
      <p class="black-text1">Nuoroda:</p>
    </div>
    <div class="col-lg-8">
      <p class="black-text2">{{ model.wish[i].url || '-' }}</p>
    </div>
    <div class="col-lg-4">
      <p class="black-text1">Failas:</p>
    </div>
    <div class="col-lg-8">
      <p class="black-text2">{{ model.wish[i].image || '-' }}</p>
    </div>
  </div>
  <div class="row">
    <h1 class="blue-text1"><b>Papildomi komentarai</b></h1>
    <p class="black-text2">{{ model.comments || '-' }}</p>
  </div>
</div>
