.section {
  .row {
    .blue-text {
      color: #1c4872;
      font-size: 24px;
      font-family: "Montserrat-Bold";
      text-align: center;
      padding-top: 30px;
      padding-bottom: 15px;
    }
    .black-text {
      color: black;
      font-family: "OpenSans";
      text-align: center;
      font-size: 14px;
    }
  }
  .container {
    .row {
      .col-8 {
        .blue-text {
          color: #1c4872;
          font-size: 20px;
          font-family: "Montserrat-Bold";
          text-align: left;
        }
      }
      .col-4 {
        text-align: right;
        .delete-wish {
          background-color: white;
          border-width: 0px;
          text-align: center;
        }
      }
    }
    .col-xs-12 {
      .star {
        color: red;
      }
      .black-field_text {
        color: black;
        font-size: 14px;
        font-family: "OpenSans-Bold";
        padding-bottom: 10px;
        padding-top: 10px;
      }
      .hint {
        font-size: 10px;
        color: gray;
        font-family: "OpenSans";
      }
    }
    .file-input {
      text-align: center;
      border: 2px dashed #828282;
      border-radius: 5px;
      width: 100%;
      height: 100px;
      color: #c7c7c7;
      font-size: 10px;
      cursor: pointer;
      .input {
        width: 80%;
        height: 50%;
      }
      .image-preview {
        text-align: center;
        height: 16px;
        width: 12px;
      }
    }
    .file-input:hover {
      background: #f3f3f3;
      border-color: black;
    }
    .block {
      width: 100%;
      height: 50%;
      background-color: #f3f3f3;
      text-align: center;
      padding-top: 5%;
      padding-bottom: 5%;
      border-radius: 9px;
      .button {
        height: 10%;
        width: 10%;
        background-color: transparent;
        border-width: 0px;
        text-align: center;
      }
      .btn-text {
        color: #1c4872;
        font-family: "OpenSans";
      }
    }
  }
}

.container {
  padding-top: 20px;
  .btn-primary {
    --bs-btn-bg: white;
    color: #1c4872;
    border-width: 1px;
    border-color: #1c4872;
    border-radius: 0px;
    font-family: "OpenSans";
    font-size: 12px;
    width: 50%;
    letter-spacing: 1.31px;
    height: 50px;
    --bs-btn-hover-bg: #828282;
    .chevron-left-icon {
      color: #ebf0f3;
      height: 10px;
    }
  }
  .btn-secondary {
    --bs-btn-bg: #1c4872;
    font-family: "OpenSans";
    font-size: 12px;
    border-width: 1px;
    border-color: #1c4872;
    border-radius: 0px;
    width: 50%;
    letter-spacing: 1.31px;
    height: 50px;
    .chevron-right-icon {
      color: #ebf0f3;
      height: 10px;
    }
  }
}

@media screen and (max-width: 950px) {
  .section {
    .row {
      .blue-text {
        color: #1c4872;
        font-size: 17px;
        font-family: "Montserrat-Bold";
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .black-text {
        color: black;
        font-family: "OpenSans";
        text-align: center;
        font-size: 10px;
      }
    }
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
      .row {
        .col-8 {
          .blue-text {
            color: #1c4872;
            font-size: 16px;
            font-family: "Montserrat-Bold";
            text-align: left;
          }
        }
        .col-4 {
          text-align: right;
          .delete-wish {
            background-color: white;
            border-width: 0px;
            text-align: center;
          }
        }
      }
      .col-xs-12 {
        text-align: center;
        .star {
          color: red;
        }
        .black-field_text {
          color: black;
          font-size: 14px;
          font-family: "OpenSans-Bold";
          padding-bottom: 10px;
          padding-top: 10px;
        }
        .hint {
          font-size: 10px;
          color: gray;
          font-family: "OpenSans";
        }
        .image-preview {
          height: 16px;
          width: 12px;
        }
      }
      .file-input {
        border: 2px dashed #828282;
        border-radius: 5px;
        width: 100%;
        height: 100px;
        color: #c7c7c7;
        font-size: 10px;
        text-align: center;
        cursor: pointer;
      }
      .block {
        width: 100%;
        height: 50%;
        background-color: #f3f3f3;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: 9px;
        .button {
          height: 30%;
          width: 30%;
          background-color: transparent;
          border-width: 0px;
          text-align: center;
        }
        .btn-text {
          color: #1c4872;
          font-family: "OpenSans";
        }
      }
    }
  }
  .container {
    --bs-gutter-x: 0rem;
    padding-right: calc(var(--bs-gutter-x) * 0);
    padding-left: calc(var(--bs-gutter-x) * 0);
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 10px;
    .btn-primary {
      --bs-btn-bg: white;
      color: #1c4872;
      border-width: 1px;
      border-color: #1c4872;
      border-radius: 0px;
      font-family: "OpenSans";
      font-size: 10px;
      width: 50%;
      letter-spacing: 1.31px;
      height: 50px;
      .chevron-left-icon {
        color: #ebf0f3;
        height: 10px;
      }
    }
    .btn-primany:hover {
      background-color: #828282;
    }
    .btn-secondary {
      --bs-btn-bg: #1c4872;
      font-family: "OpenSans";
      font-size: 10px;
      border-width: 1px;
      border-color: #1c4872;
      border-radius: 0px;
      width: 50%;
      letter-spacing: 1.31px;
      height: 50px;
      .chevron-right-icon {
        color: #ebf0f3;
        height: 10px;
      }
    }
  }
}
