.page-background {
  background-image: url("/assets/images/background.png");
  height: 100vh;
  background-size: full;
  width: 100%;
  padding-top: 74px;
  overflow: scroll;
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  .logo {
    text-align: center;
    padding-bottom: 48px;
  }
  .container.form {
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    background: #ffffff 0% 0% no-repeat padding-box;
    margin: auto;
    width: 40%;
    .btn-primary {
      --bs-btn-bg: #ffffff;
      color: #1c4872;
      border-width: 1px;
      border-color: #1c4872;
      border-radius: 0px;
      font-family: "OpenSans";
      font-size: 12px;
      width: 50%;
      letter-spacing: 1.31px;
      height: 50px;
      --bs-btn-hover-bg: #828282;
      .chevron-left-icon {
        color: #ebf0f3;
        height: 10px;
      }
    }
    .btn-secondary {
      --bs-btn-bg: #1c4872;
      font-family: "OpenSans";
      font-size: 12px;
      border-width: 1px;
      border-color: #1c4872;
      border-radius: 0px;
      width: 50%;
      letter-spacing: 1.31px;
      height: 50px;
      .chevron-right-icon {
        color: #ebf0f3;
        height: 10px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .page-background {
    background-image: url("/assets/images/background.png");
    height: 100vh;
    background-size: full;
    width: 100%;
    background-color: #ffffff;
    padding-top: 20px;
    overflow: scroll;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    .logo {
      padding-bottom: 25px;
    }
    .container.form {
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
      background: #ffffff 0% 0% no-repeat padding-box;
      margin: auto;
      width: 90%;
      padding-top: 20px;
      .btn-primary {
        --bs-btn-bg: #ffffff;
        color: #1c4872;
        border-width: 1px;
        border-color: #1c4872;
        border-radius: 0px;
        font-family: "OpenSans";
        font-size: 12px;
        width: 50%;
        letter-spacing: 1.31px;
        height: 50px;
        .chevron-left-icon {
          height: 10px;
        }
      }
      .btn-secondary {
        --bs-btn-bg: #1c4872;
        font-family: "OpenSans";
        font-size: 12px;
        border-width: 1px;
        border-color: #1c4872;
        border-radius: 0px;
        width: 50%;
        letter-spacing: 1.31px;
        height: 50px;
        .chevron-right-icon {
          height: 10px;
        }
      }
    }
  }
}
