<div class="section">
  <div class="row">
    <h1 class="blue-text">Kontaktinė informacija</h1>
    <h2 class="black-text">Pateikite savo kontaktinę informaciją, kad galėtume žinoti kas registruoja atnaujinimus :)</h2>
  </div>
  <hr/>
  <div class="container form">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="col-xs-12">
        <label class="black-field-text" [ngClass]="{'text-danger': f.fullName.touched && f.fullName.errors}">Vardas, pavardė: <b class="star">*</b></label>
        <div class="input-group flex-nowrap">
          <input type="text" [ngClass]="{ 'is-invalid': f.fullName.touched && f.fullName.errors, 'is-valid': f.fullName.valid }"
          class="form-control" aria-label="fullName" id="fullName" formControlName="fullName" aria-describedby="addon-wrapping">
        </div>
        <p class="hint" [ngClass]="{'text-danger': f.fullName.touched && f.fullName.errors}">Įveskite savo vardą ir pavardę</p>
      </div>
      <div class="col-xs-12">
        <label class="black-field-text" [ngClass]="{'text-danger': f.email.touched && f.email.errors}">El. pašto adresas: <b class="star">*</b></label>
        <div class="input-group flex-nowrap">
          <input type="text" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors, 'is-valid': f.email.valid }"
          class="form-control" aria-label="email" id="email" formControlName="email" aria-describedby="addon-wrapping">
        </div>
        <p class="hint" [ngClass]="{'text-danger': f.email.touched && f.email.errors}">Įveskite el. pašto adresą kuriuo prireikus galėsime susisiekti</p>
      </div>
      <div class="col-xs-12">
        <label class="black-field-text" [ngClass]="{'text-danger': f.phone.touched && f.phone.errors}">Telefono numeris: <b class="star">*</b></label>
        <div class="input-group flex-nowrap">
          <input type="text" [ngClass]="{ 'is-invalid': f.phone.touched && f.phone.errors, 'is-valid': f.phone.valid }"
          class="form-control" aria-label="phone" id="phone" formControlName="phone" aria-describedby="addon-wrapping">
        </div>
        <p class="hint" [ngClass]="{'text-danger': f.phone.touched && f.phone.errors}">Įveskite telefono numerį kuriuo prireikus galėsime susisiekti</p>
      </div>
      <div class="col-xs-12">
        <label class="black-field-text" [ngClass]="{'text-danger': f.projectTitle.touched && f.projectTitle.errors}">Projektas: <b class="star">*</b></label>
        <div class="input-group flex-nowrap">
          <input type="text" [ngClass]="{ 'is-invalid': f.projectTitle.touched && f.projectTitle.errors, 'is-valid': f.projectTitle.valid }"
          class="form-control" aria-label="projectTitle" id="projectTitle" formControlName="projectTitle" aria-describedby="addon-wrapping">
        </div>
        <p class="hint" [ngClass]="{'text-danger': f.projectTitle.touched && f.projectTitle.errors}">Kokį Jūsų projektą mes vykdome?</p>
      </div>
    </form>
  </div>
</div>
<div class="container buttons">
  <button class="btn btn-primary" type="button" routerLink="/">
    <img class="chevron-left-icon" src="assets\images\Back(first).svg">
    <img class="chevron-left-icon" src="assets\images\Back(second).svg">
    <img class="chevron-left-icon" src="assets\images\Back(third).svg">
    Pradžia
  </button>
  <button mat-button matStepperNext class="btn btn-secondary" type="button" (click)="onSubmit()" >Pageidavimai
    <img class="chevron-right-icon" src="assets\images\Next(first).svg">
    <img class="chevron-right-icon" src="assets\images\Next(second).svg">
    <img class="chevron-right-icon" src="assets\images\Next(third).svg">
  </button>
</div>
