.section {
  .row {
    .blue-text {
      color: #1c4872;
      font-size: 24px;
      font-family: "Montserrat-Bold";
      text-align: center;
      padding-top: 30px;
      padding-bottom: 15px;
    }
    .black-text {
      color: black;
      font-family: "OpenSans";
      text-align: center;
      font-size: 14px;
    }
  }
  .col-xs-12 {
    .black-field_text {
      color: black;
      font-size: 14px;
      font-family: "OpenSans-Bold";
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .hint {
      font-size: 10px;
      color: #707070;
      font-family: "OpenSans";
    }
  }
}

.container.buttons {
    padding-top: 20px;
    .btn-primary {
      --bs-btn-bg: white;
      color: #1c4872;
      border-width: 1px;
      border-color: #1c4872;
      border-radius: 0px;
      font-family: "OpenSans";
      font-size: 12px;
      width: 50%;
      letter-spacing: 1.31px;
      height: 50px;
      --bs-btn-hover-bg: #828282;
      .chevron-left-icon {
        color: #ebf0f3;
        height: 10px;
      }
    }
    .btn-secondary {
      --bs-btn-bg: #1c4872;
      font-family: "OpenSans";
      font-size: 12px;
      border-width: 1px;
      border-color: #1c4872;
      border-radius: 0px;
      width: 50%;
      letter-spacing: 1.31px;
      height: 50px;
      .chevron-right-icon {
        color: #ebf0f3;
        height: 10px;
      }
    }

}

@media screen and (max-width: 950px) {
  .section {
    .row {
      .blue-text {
        color: #1c4872;
        font-size: 17px;
        font-family: "Montserrat-Bold";
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .black-text {
        color: black;
        font-family: "OpenSans";
        text-align: center;
        font-size: 10px;
      }
    }
    .col-xs-12 {
      text-align: center;
      .black-field_text {
        color: black;
        font-size: 14px;
        font-family: "OpenSans-Bold";
        padding-bottom: 10px;
        padding-top: 10px;
      }
      .hint {
        font-size: 10px;
        color: #707070;
        font-family: "OpenSans";
      }
    }
  }
  .container.buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    .btn-primary {
      --bs-btn-bg: white;
      color: #1c4872;
      border-width: 1px;
      border-color: #1c4872;
      border-radius: 0px;
      font-family: "OpenSans";
      font-size: 10px;
      width: 50%;
      letter-spacing: 1.31px;
      height: 50px;
      .chevron-left-icon {
        color: #ebf0f3;
        height: 10px;
      }
    }
    .btn-secondary {
      --bs-btn-bg: #1c4872;
      font-family: "OpenSans";
      font-size: 10px;
      border-width: 1px;
      border-color: #1c4872;
      border-radius: 0px;
      width: 50%;
      letter-spacing: 1.31px;
      height: 50px;
      .chevron-right-icon {
        color: #ebf0f3;
        height: 10px;
      }
    }
  }
}
