<div class="section">
  <div class="row">
    <h1 class="blue-text">
      <b>Papildomi komentarai</b>
    </h1>
    <h2 class="black-text">Jeigu dar norite ką nors paminėti</h2>
  </div>
  <hr />
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="col-xs-12">
      <label class="black-field_text">Papildomi komentarai:</label>
      <div class="input-group flex-nowrap">
        <textarea type="text" class="form-control" aria-label="comment" id="comment" formControlName="comment" aria-describedby="addon-wrapping"></textarea>
      </div>
      <p class="hint">Galite įvesti papildomą informaciją, kuri gali būti svarbi.</p>
    </div>
    <hr />
  </form>
</div>
<div class="container buttons">
  <button class="btn btn-primary" mat-button matStepperPrevious>
    <img class="chevron-left-icon" src="assets\images\Back(first).svg">
    <img class="chevron-left-icon" src="assets\images\Back(second).svg">
    <img class="chevron-left-icon" src="assets\images\Back(third).svg">
    Pageidavimai
  </button>
  <button mat-button matStepperNext class="btn btn-secondary" type="button" (click)="onSubmit()" >Peržiūra
    <img class="chevron-right-icon" src="assets\images\Next(first).svg">
    <img class="chevron-right-icon" src="assets\images\Next(second).svg">
    <img class="chevron-right-icon" src="assets\images\Next(third).svg">
  </button>
</div>
